  body{
    color: white;
    font-family: Arial;
    background-image:url("Image/Background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
    margin: 0;
    background-attachment: fixed;
  }


  article{
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  footer{
    background-color: rgb(15,15,15);
    overflow: hidden;
    font-size: 80%;
  }

  .center{
    align-items:center;
    display:flex;
    justify-content:center;
    float:center;
    text-align: center;
  }
  .banner{
    height: 117px;
    position: relative;
    top: 10px;
    left: 7px;
    object-fit: cover;
  }
  .art1{
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .div1{
    background-color: rgb(40,40,40);
    width:465px;
    padding: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;
  }

  .div{
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .div:hover{
    border-color: #fff;

  } 
  .div2{ 
    background-color: rgb(41, 41, 41);
    width:310px;
    height: 310px;
    border-radius: 10px;
  }
  
  .div3{
    background-color: rgb(41, 41, 41);
    width:400px;
    border-radius: 10px;
    flex: wrap;
  }
  
  .div_6{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .div6{
    background-color: rgb(41, 41, 41);
    text-align: center;
    border-radius: 10px;
    width:200px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .div7{
    background-color: rgb(41, 41, 41);
    text-align: center;
    border-radius: 10px;
    width: 400px;
    border: 2px solid transparent;;
  }
  .div8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    height: 315px;
    width: 160px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
  }
  .img{
    width: 150px; 
    float:left; 
    padding: 15px;
  }
  .h1-important{
    background-color: rgb(41, 41, 41);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
  }
  .iframe{ 
    width: 400px;
    height: 225px;
    background-color: rgb(41, 41, 41);
    padding: 1px;
    border-radius: 10px;
  }
  .padding1{
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .padding2{
    background-color: red;
  }
  .margin1{
    margin: 75px;
  }
  .margin2{
    margin: 25px;
  }
  .margin3{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 240px;
    overflow: visible;
  }
  .width{
    width: 150px;
    border-radius: 20px;
  }
  .h1-important{
    text-align: center;
  }
  .img2{
    position: absolute;
    top: 0px;
  }

  .secretButton{
    background-color: transparent;
    border: none;
    opacity: 0.1;
  }
  .awidth{
    width: 180px;
  }